header {
    font-family: 'Poppins', sans-serif;
}

main {
    font-family: 'Poppins', sans-serif;

}


.header {
    height: 7rem;
    line-height: 7rem;
    text-align: center;
    background-color: #100DBF;
    color: white;
    font-weight: bold;
}


.enroll_form-control {
    border-radius: 10%;
    height: 2rem;
}



.form-check {
    margin-left: calc(var(--bs-gutter-x)*0.5);
}

#social_ntw {
    text-align: center;
}

.image_group {
    text-align: center;
}

#logo_google {
    margin-right: 3vw;
}

#logo_facebook {
    margin-right: 3vw;
}

.link_ntw {
    text-decoration: none;
}

.link{
    text-align: center;
}

.add_button {
    text-align: center;
    font-weight: bold;
    background-color: #100DBF;
    color: white;
    border-style: none;
    border-radius: 5%;
}
